.container{
  display: flex;
  flex-flow: row wrap;
}

.floatymcfloat{
    position: fixed;
    top: 15%;
    left: 98%;
    margin-left: -100px;
    margin-top: -93px;
    box-shadow: 0.5em 0.5em 0.7em #333;
    max-width:116.594px;
    max-height:140.391px;
  }

nav {
background-color:#51074a;
overflow:hidden;
width:800px;
}

nav a{
  float: left;
  margin-right:10px;
  text-decoration:none;
}


h3{
  color:white;
}

div{
  width:800px;
}
